<!DOCTYPE html>
<html>
<head>
  <title>Average Rating</title>
</head>
<body>
  <h1>Average Movie Rating</h1>
  <p>Average Rating: <%= averageRating %></p>
  <p>Total Movies: <%= totalMovies %></p>
</body>
</html>